<%layout("/Layout/boilerplate.ejs")%> <% if(currUser) {%>
<%-include("../includes/icons.ejs")%> <% } %>

<body>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-md-1 mt-3 bebo">
    <% for(listing of listings){ %>

    <div class="card col listing-card">
      <a href="/listings/<%=listing._id%>" class="listing-link">
        <img
          src="<%=listing.image[0].url%>"
          class="card-img-top indexImg"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay sizeFit"></div>
      </a>

      <div class="card-body">
        <p class="card-text indexP">
          <span>
            <b class="boldTitle"><%=listing.title%></b><br />
            <b class="boldPrice"
              >&#8377;<%= (listing.price != null ?
              listing.price.toLocaleString("en-IN") : "N/A")%>/Night</b
            >
          </span>
          <button class="likeBtn"><i class="fa-regular fa-heart"></i></button>
        </p>
      </div>
    </div>
    <%}%>
  </div>
  <script src="/js/icons.js"></script>
  <script>
    const likeBtn = document.querySelectorAll(".likeBtn");
    likeBtn.forEach((btn) => {
      btn.addEventListener("click", () => {
        const icon = btn.querySelector("i");

        icon.classList.toggle("fa-regular");
        icon.classList.toggle("fa-solid");
      });
    });
  </script>
</body>
