<%layout("/Layout/boilerplate.ejs")%>

<script>
  const mapToken = "<%=process.env.MAP_TOKEN%>";
  const listing = <%- JSON.stringify(listing)%>;
</script>

<style>
  .show-btns {
    display: flex;
  }
  .deleteBtn {
    margin-left: 2rem;
  }
  #map {
    height: 26rem;
    width: 43.5rem;
    border-radius: 15px;
  }

  .reviewPage {
    width: 43.5rem;
  }

  .photos {
    font-size: 5.5rem;
    margin-left: 17rem !important;
    margin-top: 8rem;
    border: white;
    background-color: white;
  }
  .P {
    font-size: 1.4rem;
    font-weight: 600 !important;
  }
  .haha {
    display: flex;
  }
  .huu {
    height: 26.5rem;
    width: 44.3rem;
  }
  .huu:hover {
    opacity: 0.65;
    background-color: white;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .show-img {
    width: 43.5rem !important;
    height: 26.5rem;
  }

  .parts {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    gap: 3rem;
  }

  .part1 {
    flex: 0 0 65%;
  }

  .part2 {
    margin-top: 3rem;
    flex: 1;
  }

  .rightScroll {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .rightScroll::-webkit-scrollbar {
    display: none;
  }

  .part2 > .mt-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .sizeFit {
    height: 15rem;
    width: 16rem;
    margin: 0;
    margin-left: 0.5rem;
    margin-bottom: 11rem !important;
  }

  .sizeFit2 {
    height: 15rem;
    width: 16rem;
  }

  .indexImg {
    height: 15rem;
    width: 16rem;
  }

  .card-body {
    width: 100%;
  }
</style>

<body>
  <div class="parts">
    <div class="part1">
      <div class="row mt-3 babu">
        <div>
          <h2 class="babuTitle"><b><%=listing.title%></b></h2>
        </div>

        <div class="card show-card listing-card">
          <div class="haha">
            <a href="<%=listing.image[0].url%>"
              ><img
                src="<%=listing.image[0].url%>"
                class="card-img-top show-img"
                alt="listing_image"
            /></a>
            <div class="card-img-overlay huu">
              <%if(listing.image.length>1){%>
              <form method="GET" action="/listings/showPhotos/<%=listing._id%>">
                <button class="photos">
                  <i class="fa-duotone fa-solid fa-images i"></i>
                  <p class="P"><%=listing.image.length%> More Photos</p>
                </button>
              </form>
              <%}%>
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <i
                ><b class="boldH">Owned By: </b>
                <b class="boldP">@<%=listing.owner.username%></b></i
              ><br /><br />
              <b class="boldH">Category: </b>
              <b class="boldP"><%=listing.category%></b><br />
              <b class="boldH">Description: </b>
              <b class="boldP"><%=listing.description%></b><br />
              <b class="boldH">Price: </b>
              <b class="boldP"
                >&#8377;<%= listing.price.toLocaleString("en-IN")%>/ Night</b
              ><br />
              <b class="boldH">Location: </b>
              <b class="boldP"><%=listing.location%></b><br />
              <b class="boldH">Country: </b>
              <b class="boldP"><%=listing.country%></b>
            </div>
          </div>
        </div>
      </div>

      <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
      <div class="show-btns mb-2">
        <div class="editBtn">
          <form method="GET" action="/listings/<%=listing._id%>/edit">
            <button class="btn btn-outline-primary">Edit</button>
          </form>
        </div>

        <div class="deleteBtn">
          <form
            method="POST"
            action="/listings/<%=listing._id%>/delete?_method=DELETE"
          >
            <button class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %>

      <div class="mb-3 mt-1 reviewPage">
        <% if(currUser) { %>
        <hr />
        <h4>Leave a Review</h4>
        <form
          method="POST"
          action="/listings/<%=listing._id%>/reviews"
          novalidate
          class="needs-validation"
        >
          <div class="mt-3">
            <label for="rating" class="form-label">Rating: </label>
            <fieldset class="starability-slot" id="rating">
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="review[rating]"
                value="1"
                checked
                aria-label="No rating."
              />
              <input
                type="radio"
                id="first-rate1"
                name="review[rating]"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="review[rating]"
                value="2"
              />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="review[rating]"
                value="3"
              />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="review[rating]"
                value="4"
              />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="review[rating]"
                value="5"
              />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">Comments: </label>
            <textarea
              id="comment"
              class="form-control"
              name="review[comment]"
              cols="30"
              rows="3"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please enter some comments for review.
            </div>
          </div>
          <br />
          <button class="btn btn-outline-primary">Comment</button>
        </form>
        <% } %>
        <hr />

        <%if(listing.reviews.length > 0 ){%>
        <div>
          <P><b>All Reviews</b></P>
          <% for(review of listing.reviews) {%>
          <div class="card ms-3 mb-3 showReviewPage">
            <div class="card-body">
              <h5 class="card-title editR">@<%=review.author.username%></h5>
              <p
                class="starability-result card-text"
                data-rating="<%= review.rating%>"
              ></p>
              <p class="card-text reviewText"><%= review.comment%></p>
            </div>
            <%if(currUser && currUser._id.equals(review.author._id)){%>
            <form
              class="mb-3"
              method="POST"
              action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
            >
              <button class="btn btn-danger mt-2 deleteBtnReview">
                Delete
              </button>
            </form>
            <%}%>
          </div>
          <% } %>
        </div>
        <%}%>
      </div>

      <div class="mb-3 mt-3 mapPage">
        <h3>Where you'll be</h3>
        <div id="map"></div>
      </div>
    </div>

    <div class="part2">
      <div class="mt-3 rightScroll">
        <% for(listing of nearListings){ %>
        <div class="card listing-card sizeFit">
          <a href="/listings/<%=listing._id%>/location" class="listing-link">
            <img
              src="<%=listing.image[0].url%>"
              class="card-img-top indexImg"
              alt="listing_image"
            />
            <div class="card-img-overlay sizeFit2"></div>
          </a>

          <div class="card-body fix">
            <p class="card-text indexP">
              <span>
                <b class="boldTitle"><%=listing.title%></b><br />
                <b class="boldPrice"
                  >&#8377;<%= (listing.price != null ?
                  listing.price.toLocaleString("en-IN") : "N/A")%>/Night</b
                >
              </span>
              <button class="likeBtn">
                <i class="fa-regular fa-heart"></i>
              </button>
            </p>
          </div>
        </div>
        <%}%>
      </div>
      <script>
        const likeBtn = document.querySelectorAll(".likeBtn");
        likeBtn.forEach((btn) => {
          btn.addEventListener("click", () => {
            const icon = btn.querySelector("i");

            icon.classList.toggle("fa-regular");
            icon.classList.toggle("fa-solid");
          });
        });
      </script>
    </div>
  </div>

  <script src="/js/map.js"></script>
</body>
